*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #87c38f;
    text-align: center;
}
h1{
    font-size: 3.5rem;
}
.container{
    height: 70vh; /*1% of the viewport's height.*/
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;    /*center with respect to the container div*/
    align-items: center;    /*center with respect to the container div*/
}

.game{
    height: 60vmin; /*1% of the viewport's smaller dimension.*/
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    /*center with respect to the game div*/
    align-items: center; /*center with respect to the game div*/
    gap: 1.5vmin;    /*gap between the items of the div*/
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0,0.4);
    font-size: 8vmin;
    color: #da2c38;
    background-color: #f4f0bb;
    cursor: pointer;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #43291f;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
}

#new{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #191913;
    color: #fff;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
  }
  
#msg{
    color: #ebebeb;
    font-size: 5vmin;
}
  
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}
  
.hide{
    display: none;
}